# Core Data Science Libraries
pandas==2.3.1
numpy==2.3.2
scikit-learn==1.7.1
joblib==1.5.1

# PyTorch (CPU version)
torch==2.8.0

# Backend API Framework
fastapi==0.116.1
uvicorn[standard]==0.35.0

# Real-time Data Streaming
kafka-python==2.2.15

# Database Connector
psycopg2-binary==2.9.10
SQLAlchemy==2.0.42

# Testing
pytest==9.1.1
httpx==0.28.1
PyYAML==6.0.2
